<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lOGIN PAGE</title>
</head>

<body>
    <p>LOGIN</p>

    <form action="" method="POST">
        {% csrf_token %}


        <div>
            <input type="text" name="username" id='' placeholder="username">
        </div>
        <br>
        <br>

        <div>
            <input type="password" name="password" id=''>
        </div>
        <br>
        <br>

        <div>
            <button type="submit">Submit</button>
        </div>


    </form>


    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}


</body>

</html>